
#img {
  background-image: url("images/blue.jpg");
  background-size: cover;
  background-position: bottom center;
  height: 700px;
  width: 100%;
}

#img .title h1 {
  position: relative;
  text-align: center;
  top: 50px;
  width: 400px;
  margin: 0 auto;
}
